
.parag-form{
    color: aliceblue;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #222831;  /* Nastavíme barvu pozadí */
}

.main-cont {
    display: flex;
    flex-direction: column;
    height: 100vh;  /* Nastavení celé výšky obrazovky */
}

.toggler-cont {
    flex-shrink: 0;  /* Ujistí se, že Toggler nezmění velikost */
    padding: 20px;  /* Volitelně: přidáme padding okolo Toggler */
    background-color: #222831;  /* Ujistíme se, že barva pozadí sedí */
}

.content-cont {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /*justify-content: center;   Zarovnání do středu vertikálně */
    /*align-items: center;   Zarovnání do středu horizontálně */
    background-color: #222831;
}